.blogs {
  float: left;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.blog-section {
  overflow: hidden;
  width: calc(33.33% - 20px);
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  transition: transform 0.3s, background-color 0.3s;
}

.blog-section:hover {
  transform: scale(1.1);
  background-color: #dedbdb;
  cursor: pointer;
}

.blog-section h3 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
  padding: 10px;
}

.blog-section p {
  font-size: 16px;
  color: #555;
  margin: 0;
  padding: 10px;
}

.blog-section .details {
  font-size: 14px;
  color: #888;
  padding: 10px;
}

.create-post-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #1683cc; 
  color: #fff; 
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  float: inline-end;
  margin-top: 10px;
}

.create-post-button:hover {
  background-color: #0a68a6; 
}

.plus-icon {
  margin-right: 10px; 
}

.fa-icon {
  background-color: #becbd0; 
}

.create-post-btn-txt {
  color: #300303
}